<div class="card" style="width: 100%;">
    <img src="{{imagen}}" class="card-img-top" alt="Imagen del usuario">
    <div class="card-body">
        <h5 class="card-title">{{nombre}} {{apellido}}</h5>
        <p class="card-text"><strong>DNI:</strong> {{dni}}</p>
        <p class="card-text"><strong>Email:</strong> {{email}}</p>
        <p class="card-text"><strong>Teléfono:</strong> {{telefono}}</p>
        <a href="https://www.google.com.ar/maps/place/Padre+Luis+Monti+2385,+X5013AJB+C%C3%B3rdoba/@-31.3969717,-64.1582069,17z/data=!3m1!4b1!4m6!3m5!1s0x94329804e9facbf9:0x69c95422f51fb8e2!8m2!3d-31.3969763!4d-64.155632!16s%2Fg%2F11ggn8tpbc?entry=ttu&g_ep=EgoyMDI0MDkwOS4wIKXMDSoASAFQAw%3D%3D" class="btn btn-danger w-100">Sucursales cercanas</a>
    </div>
</div>